<h2> <%= @article.title %> </h2>
<%= link_to  "ðŸ–Šï¸", "/articles/#{@article.id}/edit" %>
<%= link_to  "ðŸ—‘ï¸", "/articles/#{@article.id}",
  method: :delete,
  data: { confirm: "Are you sure?" } %>
<p> <%= @article.content %>  </p>
<h2>
<%= link_to "Edit Article", "/articles/#{@article.id}/edit" %>
</h2>
